#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Control(&C)"
	BEGIN
		MENUITEM "Dialog(&D)...", ID_DIALOG
	END
END

IDR_CONTEXTMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Delete", ID_DELETE_ITEM
	END
END

IDD_DIALOG1 DIALOG 0, 0, 480, 240
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
	CONTROL "", IDC_LIST1, WC_LISTVIEW, LVS_REPORT | LVS_EDITLABELS, 10, 10, 150, 80
	PUSHBUTTON "Button1", ID_BUTTON1, 170, 10, 80, 25
	PUSHBUTTON "Button2", ID_BUTTON2, 170, 150, 80, 25
	PUSHBUTTON "Button3", ID_BUTTON3, 280, 150, 80, 25
	PUSHBUTTON "Button4", ID_BUTTON4, 280, 180, 80, 25
	PUSHBUTTON "Button5", ID_BUTTON5, 390, 10, 80, 25
	EDITTEXT ID_EDIT_NAME		170, 45, 80, 12
	EDITTEXT ID_EDIT_ADDRESS	170, 70, 80, 12
	EDITTEXT ID_EDIT_PHONENUMBER	170, 95, 80, 12
	EDITTEXT ID_EDIT_AGE		170, 120, 80, 12
END
