#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Control(&C)"
	BEGIN
		MENUITEM "Dialog(&D)...", ID_DIALOG
	END
END

IDD_DIALOG1 DIALOG 0, 0, 320, 240
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
	CONTROL "", IDC_LIST1, WC_LISTVIEW, LVS_LIST, 10, 10, 150, 80
	PUSHBUTTON "Button1", ID_BUTTON1, 170, 10, 80, 25
END