#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Item1(&A)"
	BEGIN
		MENUITEM "Dialog(&D)...", ID_ITEM_DIALOG
	END
END

IDD_DIALOG DIALOG 0, 0, 280, 180
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
	PUSHBUTTON "Button3", ID_BUTTON3, 25, 125, 80, 25, BS_ICON
	PUSHBUTTON "Button4", ID_BUTTON4, 165, 125, 80, 25, BS_BITMAP
END

IDI_ICON1 ICON "icon1.ico"
IDI_ICON2 ICON "icon1.ico"

IDB_BITMAP1 BITMAP "bitmap1.bmp"
IDB_BITMAP2 BITMAP "bitmap1.bmp"
