<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <connectionStrings/>
        <system.web>
            <compilation debug="false"/>
            <authentication mode="Windows"/>
            <siteMap enabled="true">
                <providers>
                    <add name="TestProvider"
                        type="System.Web.XmlSiteMapProvider" siteMapFile="web1.sitemap" />
                    <add name="TestProvider2"
                        type="System.Web.XmlSiteMapProvider" siteMapFile="web2.sitemap" />
                </providers>
            </siteMap>
        </system.web>
</configuration>
