#include "resource.h"
#include "winres.h"

IDD_CUSTOM_COLOR_DIALOG DIALOGEX 0, 0, 200, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "色の選択"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT           "色の一覧", IDC_STATIC, 10,10,100,10
    CONTROL         "",IDC_COLOR_GRID,"STATIC",SS_BLACKFRAME,10,25,180,80
    DEFPUSHBUTTON   "OK",IDOK,50,120,40,14
    PUSHBUTTON      "キャンセル",IDCANCEL,110,120,40,14
END

IDR_MAINMENU MENU
BEGIN
	POPUP "Color"
	BEGIN
		MENUITEM "Choose Color(&C)...",	ID_COLOR_CHOOSE
	END
END

IDB_BITMAP1	BITMAP	"toolbar1.bmp"
