<configuration>
    <system.web>
        <authentication mode="Forms">
            <forms name="authdir2" loginUrl="authdir2/login.aspx" protection="All" path="/" timeout="30">
                <credentials passwordFormat="Clear">
                    <user name="testuser1" password="testpass1" />
                </credentials>
            </forms>
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>