#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Item1(&A)"
	BEGIN
		MENUITEM "Item1-1(&B)...",	ID_ITEM_1_1
		MENUITEM "Item1-2(&C)", ID_ITEM_1_2
		MENUITEM "Item1-3(&D)", ID_ITEM_1_3
	END
	POPUP "Item2(&E)"
	BEGIN
		MENUITEM "Item2-1(&F)", ID_ITEM_2_1
		MENUITEM "Item2-2(&G)", ID_ITEM_2_2
		MENUITEM "Item2-3(&H)", ID_ITEM_2_3
	END
	POPUP "Item3(&I)"
	BEGIN
		MENUITEM "Item3-1(&J)", ID_ITEM_3_1
		MENUITEM "Item3-2(&K)", ID_ITEM_3_2
		MENUITEM "Item3-3(&L)", ID_ITEM_3_3
	END
END

IDD_DIALOG DIALOG 0, 0, 320, 240
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
END