#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Control(&C)"
	BEGIN
		MENUITEM "Dialog(&D)...", ID_DIALOG
	END
END

IDD_DIALOG1 DIALOG 0, 0, 480, 240
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
	EDITTEXT IDC_EDIT1, 100, 100, 80, 25, WS_BORDER | ES_LEFT
END
