#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Control(&C)"
	BEGIN
		MENUITEM "Dialog(&D)...", ID_DIALOG
	END
END

IDD_DIALOG1 DIALOG 0, 0, 480, 240
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
	PUSHBUTTON "Button1", IDC_BUTTON1, 100, 0, 80, 25, BS_PUSHBUTTON
	COMBOBOX IDC_COMBO1, 100, 30, 80, 80, CBS_SIMPLE
END
