#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "Item1(&A)"
	BEGIN
		MENUITEM "Item1-1(&B)...\tCtrl+B",	ID_ITEM_1_1
		MENUITEM "Item1-2(&C)\tShift+C", ID_ITEM_1_2
		MENUITEM "Item1-3(&D)\tAlt+D", ID_ITEM_1_3
	END
	POPUP "Item2(&E)"
	BEGIN
		MENUITEM "Item2-1(&F)\tCtrl+F", ID_ITEM_2_1
		MENUITEM "Item2-2(&G)\tShift+G", ID_ITEM_2_2
		MENUITEM "Item2-3(&H)\tAlt+H", ID_ITEM_2_3
	END
	POPUP "Item3(&I)"
	BEGIN
		MENUITEM "Item3-1(&J)\tF1", ID_ITEM_3_1
		MENUITEM "Item3-2(&K)\tShift+Ctrl+K", ID_ITEM_3_2
		MENUITEM "Item3-3(&L)\tShift+Ctrl+Alt+L", ID_ITEM_3_3
	END
END

IDD_DIALOG DIALOG 0, 0, 320, 240
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "DIALOG"
BEGIN
	PUSHBUTTON "Button1", ID_BUTTON1, 125, 10, 80, 25
	CTEXT "CenterStaticText1" ID_STATIC1, 115, 55, 100, 30
	EDITTEXT ID_EDIT1 110, 85, 100, 25
	CHECKBOX "CheckBox1" ID_CHECK1, 135, 115, 80, 30
	RADIOBUTTON "RadioButton1", ID_RADIO1, 105, 145, 60, 20
	RADIOBUTTON "RadioButton2", ID_RADIO2, 165, 145, 60, 20
	RADIOBUTTON "RadioButton3", ID_RADIO3, 225, 145, 60, 20
	GROUPBOX "GroupBox1", ID_GROUP1, 95, 135, 200, 40
END

IDI_ICON1 ICON "icon1.ico"

IDR_MAINMENU ACCELERATORS
BEGIN
	"^B",	ID_ITEM_1_1
	"C",	ID_ITEM_1_2
	0x64,	ID_ITEM_1_3, ASCII, ALT
	"F",	ID_ITEM_2_1, VIRTKEY, CONTROL
	"G",	ID_ITEM_2_2, VIRTKEY, SHIFT
	"H",	ID_ITEM_2_3, VIRTKEY, ALT
	VK_F1,	ID_ITEM_3_1, VIRTKEY
	"K",	ID_ITEM_3_2, VIRTKEY, SHIFT, CONTROL
	"L",	ID_ITEM_3_3, VIRTKEY, SHIFT, CONTROL, ALT
END

STRINGTABLE
BEGIN
	IDS_WINDOW_NAME "SendMessage"
END